<a href="https://colab.research.google.com/github/Sathvik-nishani/Codealpha/blob/main/Task1scits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.adding two integers 7 and 5

In [1]:
print(7 + 5)

12

2. find the product of 3.5 and 2

In [2]:
print(3.5 * 2)

7.0

3.divide 15 by 4 and get the integer result

In [5]:
print(15// 4)

3

4.Find the remainder when 17 is divided by 5

In [6]:
print(17 % 5)

2

5.Raise 2 to the power of 5

In [7]:
print(2 ** 5)

32

6.Convert the float value 7.8 to integer

In [8]:
print(int(7.8))

7

7.Calculate the absolute value of -25

In [9]:
print(abs(-25))

25

8.Round 8.675 to 2 decimal places

In [7]:
print(round(8.675,2))

8.68

9.Find the maximum of 8, 3, 12

In [8]:
print(max(8,3,12))

12

10. Convert the string '100' to a float

In [9]:
print(float('100'))

100.0

11. Access the third element in the list[10,20,30,40]

In [11]:
a = [10,20,30,40]
print(a[2])

30

12.Slice the first three elements in the tuple (1,2,3,4,5)

In [22]:
a = (1,2,3,4,5)
print(a[:3])

(1, 2, 3)

13. Get the length of the list [4,5,6,7,8]

In [23]:
a = [4,5,6,7,8]
print(len(a))

5

14. Append the number 6 in the list [1,2,3,4,5]

In [24]:
a = [1,2,3,4,5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

15. Sort the list [3,1,4,2] iin ascneding order

In [30]:
list = [3,1,4,2]
print(sorted(list))

[1, 2, 3, 4]

16. Reverse the list [7,8,9,10]

In [31]:
list = [7,8,9,10]
print(list[::-1])

[10, 9, 8, 7]

17. Find the index of 3 in the list [1,2,3,4,5]

In [35]:
list = [1,2,3,4,5]
print(list.index(3))

2

18. Check if 5 exists in the list [1,2,3,4]

In [41]:
list = [1,2,3,4]
if 5 in list:
   print(True)
else :
  print(False)

False

19. Count how many times 2 appears in the list [2,3,2,4,2]

In [42]:
list = [2,3,2,4,2]
print(list.count(2))

3

20. Create a list with numbers from 1 to 5 using list comprehension

In [46]:
print([i+1 for i in range(5)])

[1, 2, 3, 4, 5]

21. Extract the first 5 characters from the string 'MachineLearning'

In [47]:
a = 'Machinelearning'
print(a[:5])

Machi

22. Replace 'apple' with 'orange' in the string 'I like apple pie'

In [48]:
a = 'I like apple pie'
print(a.replace('apple', 'orange'))

I like orange pie

23. Find the length of the string 'Datascience'

In [54]:
a = 'Data science'
print(len(a))
count = 0
for i in a:
  count += 1
print(count)

12
12

24. Check if the word 'code'  is present in the list 'I love to code in python'

In [56]:
text = 'I love to code in python'
if 'code' in text:
  print(True)
else :
  print(False)

True